<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klatre Spillet!</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <h1>Klatre Spillet!</h1>
        <button onclick="window.location.href='/'">🏠 Back to Home</button>
    </header>

    <div class="content-container">
        <div class="input-section">
            <label for="goalInput">🎯 Set your climbing goal:</label>
            <input type="number" id="goalInput" min="1" placeholder="Enter goal" />
            <button id="setGoalButton">Set Goal!</button>
        </div>

        <div class="input-section">
            <label for="day">📅 Select a day:</label>
            <input type="date" id="day" />
        </div>

        <div class="count-section">
            <p id="climbCount">0</p>
            <button id="resetCountButton" class="red-button">Reset Count!</button>
        </div>

        <div id="progressSection">
            <div id="progressBarContainer">
                <div id="progressBar">0 / 0</div>
            </div>

            <div id="bunnyContainer">
                <img id="bunny" src="/static/badges/bunny.png" alt="Bunny">
                <img id="bunnyhouse" src="/static/badges/bunnyhouse.png" alt="Bunnyhouse">
            </div>

            <div id="achievementLabels">
                <span id="bronzeLabel">0 Climbs for Bronze!</span>
                <span id="silverLabel">0 Climbs for Silver!</span>
                <span id="goldLabel">0 Climbs for Gold!</span>
            </div>
        </div>
        <div class="medal-section">
            <div class="medal">
                <div id="achievements"></div>
            </div>
        </div>

    </div>
    <script src="/static/js/progress.js"></script>
</body>

</html>