body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.red-button {
    background-color: red;
    color: white;
}

.red-button:hover {
    background-color: darkred;
    cursor: pointer;
}

#progressBarContainer {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px; /* Justeret margin */
    position: relative;
}

#progressBar {
    width: 0%;
    height: 20px; /* Justeret højde */
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px; /* Justeret til højden */
    color: white;
    border-radius: 5px;
}

#achievements img {
    width: 80px; /* Mindre størrelse */
    height: auto;
    margin: 5px;
}

#bunnyContainer {
    position: relative;
    width: 100%;
    height: 80px; /* Justeret højde */
    overflow: hidden;
}

#bunny {
    position: absolute; /* Gør det muligt at flytte kaninen */
    left: 0; /* Startposition */
    transition: left 2s; /* Animationstid (2 sekunder) */
    width: 40px; /* Mindre kanin */
    height: auto; /* Behold højden i forhold til bredden */
    margin-top: 10px; /* Justeret margin */
}

#bunnyhouse {
    margin: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px; /* Mindre hus */
    height: auto;
}

@keyframes moveBunny {
    0% {
        left: 0; /* Startposition */
    }
    100% {
        left: calc(100% - 50px); /* Slutposition (justér 50px ift. kaninens bredde) */
    }
}

.bunny-animation {
    animation: moveBunny 2s forwards; /* Animation varighed på 2 sekunder */
}
